body{
    margin: 0;
    padding: 0;
    font: 1em 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
}

a{
    color: #772878;
}

.clear{
    clear: both;
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

header{
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    border-top: 2px solid #772878;
}

header nav{
    float: right;
    margin-top: 35px;
}

header ul{
    margin: 0;
    list-style: none;
    padding: 0;
    text-indent: 0;
}

header ul li{
    float: left;
    margin-left: 40px;
}

a img{
  border: none;
}

header ul li a{
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    border-bottom: 0px solid #f5f5f5;
    padding-bottom: 0;
    padding-bottom: 10px;
    transition: all 0.2s ease-in;
}

header ul li a:hover{
    color: #772878;
    border-bottom: 2px solid #772878;
    padding-bottom: 2px;
}

#logo{
    height: 30px;
    margin: 30px 0px 10px 0px;
}

#logo1{
    height: 20px;
    margin: 0px 0px -4px 0px;
    padding: 0;
}

#hero{
    background: #772878;
    margin: 0;
    padding: 0;
    color: #fff;
    padding: 60px 0 60px 0;
}

#hero h1{
    margin: 0;
    padding: 0;

    font: 36px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 70px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1.5px;
}


#hero p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
    padding-top: 10px;
    font-size: 18px;
    line-height: 24px;
}

#hero img{
    box-shadow: 0 5px 12px #ddd;
}

#carousel{
    height: 300px;
}

#hero div.caption{
    position: relative;
    display: block;
    margin-top: -120px;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    background: #772878;
    box-shadow: 0 5px 12px #ddd;

}

#hero div.caption h1{
    margin: 0;
    margin-top: 10px;
    font-size: 24px;
}

#hero div.caption h2{
    margin: 0;
    margin-top: 3px;
    margin-bottom: 10px;
    font: 18px 'Roboto Slab', 'Georgia', 'Times', serif;
    font-weight: 100;
}

.span70h{
    width: 960px;
}

.span70h h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 100;
  color: #772878;
  letter-spacing: 3px;
}
.span70h h2 {
  font-size: 27px;
  text-align: center;
  font-weight: 100;
  color: #333;
  letter-spacing: 3px;
}

.span70h hr {
  border: 0;
  border-bottom: 3px solid #772878;
  width: 100px;
}

.span70h img {
  display: block;
  margin: 0 auto;
  width: 600px;
  box-shadow: 0 2px 6px #ddd;
}

.span70h p{
    text-align:center;
    margin: auto;
    width: 660px;
    font-size: 16px;
    font-family: 'Roboto Slab', 'Georgia', 'Times', serif;
    line-height: 21px;
    color: #666;
}

.span70{
    width: 960px;
}

.span70 h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 100;
  color: #772878;
  letter-spacing: 3px;
}

.span70 h2 {
  font-size: 24px;
  text-align: left;
  font-weight: 900;
  color: #000000;
  letter-spacing: 1.1px;
}

.span70 h3 {
  font-size: 21px;
  text-align: left;
  font-weight: 900;
  color: #000000;
  letter-spacing: 1.2px;
}


.span70 p{
    margin: auto;

    font-size: 16px;
    font-family: 'Roboto Slab', 'Georgia', 'Times', serif;
    line-height: 21px;
    color: #666;
}

.span70 p strong{
    color: #772878;
}

.span70 blockquote{
    margin-bottom: 30px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    color: #333;
    margin-left: 20px;
    border-left: 5px solid #772878;
    padding: 20px;
}

#pitch{
    margin-top: 40px;
    margin-left: 20px;
}

#pitch h3{
    font-size: 36px;
    color: #333;
    margin: 0;
}

#pitch p{
    width: 900px;
    font-size: 18px;
    line-height: 27px;
}

#request{
    margin-top: 40px;
    width: 800px;
    padding: 20px;
    background: #eee;
    border: 1px solid #ddd;
margin-right: auto;
margin-left: auto;
}

#request h3{
    font-size: 27px;
    color: #333;
    margin: 0;
}

#request p{
    margin: 0;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', 'Georgia', 'Times', serif;
    line-height: 21px;
    color: #666;
}

#request form{
    margin-top: 10px;
}

#request input[type="text"]{
    border: none;
    border-bottom: 1px solid #AAA;
    background: transparent;
    transition: border-bottom 1s ease;
    font-family: 'Roboto', 'Helvetica', 'Arial';
    font-size: 20px;
    font-weight: 100;
    outline: none;
    margin-right: 10px;
}

#in_fullname{width: 300px;}
#in_companyname{width: 270px;}
#in_email{width: 300px;}
.error{color:red;}

#request input[type="text"]:focus{
    border-bottom: 1px solid #000;
}

#request input[type="submit"]{
    background: #5DB95D;
    border: none;
    color: #fff;
    font-family: 'Roboto Slab', 'Georgia', 'Times', serif;
    font-weight: 800;
    padding: 0 20px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: 3px solid #00926C;
}

#request input[type="submit"]:hover{
    cursor: pointer;
}

ul li{
    font-family: 'Roboto Slab', 'Georgia', 'Times', serif;
    color: #333;
    margin-bottom: 7px;
}

footer {
    height: 80px;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    border-top: 1px solid #eee;
}

footer p{
    font-family: 'Roboto Slab', 'Georgia', 'Times', serif;
    font-size: 11px;
    color: #666;
}

footer section{
    width: 300px;
    margin: 0px;
    float: left;
}

#devices{
    margin-bottom: 20px;
}

#connect .social{
    width: 30px;
    margin-right: 10px;
    margin-top: 17px;
    margin-bottom: 18px;
}

#small_links{
    margin-top: 20px;
}

.minh {
  min-height: 450px;
}

@media (max-width: 960px) {
    body{

    }

    .wrapper{
        width: 90%;
        margin: 0 5%;
    }

    .span70{
        width: 90%;
        margin: 0 5%;
    }

    #hero h1{
        font-size: 30px;
        display: block;
        float: none;
    }

    #hero p{
        width: 90%;
        margin: 0 0%;
    }

    #logo{
        height: 40px;
    }

    #request{
        width: 90%;

    }
}
