body {
    font-family: 'ff-tisa-sans-web-pro', serif;
    border-top: 4px solid #772878;
}

a {
	color: #772878;
	font-weight: 900;
}

a:hover {
	color: #772878;
}

header {
	margin-top: 60px;
	margin-bottom: 7px;
}

#logo {
	height: 30px;
}

main {
	margin-top: 75px;
	margin-bottom: 60px;
}

main section {
	margin-bottom: 20px;
}

main h1 {
	margin: 0;
	margin-bottom: -5px;
	margin-top: 30px;
	padding: 0;
	font: 21px 'ff-tisa-sans-web-pro', serif;
	font-weight: 900;
	text-align: left;
	color: #222;
}

main h1#team {
	margin-bottom: 0;
}

main p {
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	text-align: left;
	font-family: 'ff-tisa-sans-web-pro', sans-serif;
	color: #222;
	padding-top: 10px;
	font-size: 18px;
	line-height: 28px;
}

footer {
	background-color: #772878;
	margin-top: 30px;
	min-height: 60px;
	font-size: 14px;
	color: #fff;
}

footer p {
	margin-top: 20px;
}