body {
    font-family: 'ff-tisa-sans-web-pro', serif;
    border-top: 4px solid #772878;
}

a {
	color: #772878;
	font-weight: 900;
}

a:hover {
	color: #772878;
}

header {
	margin-top: 60px;
	margin-bottom: 7px;
}

header p {
	font-size: 1.5em;
}

#logo {
	height: 30px;
}

main {
	margin: 30px 0;
	padding: 30px 0;
}

main h1 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font: 21px 'ff-tisa-sans-web-pro', serif;
	font-weight: 900;
	text-align: left;
	color: #222;
}

main p {
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	text-align: left;
	font-family: 'ff-tisa-sans-web-pro', sans-serif;
	color: #222;
	padding-top: 10px;
	font-size: 18px;
	line-height: 28px;
}

section.products img {
	max-width: 50%;
	max-height: 200px;
	margin: 0 auto;
	display: block;
}

section.products img.decisively {
	margin-top: 60px;
}

section.products > div.row {
	padding-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}

section.products > div.row div:last-child{
	border-left: 1px dotted #ccc;
}

section.customers {
	text-align: center;
}

section.customers img {
	max-width: 150px;
	max-height: 70px;
	margin: 50px 0px;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

section.customers img:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
}

div.graybg {
	background: #fafafa;
	margin: 0;
}

section.team img {
	width: 70px;
	float: left;
	margin: 0;
	margin-right: 20px;
	margin-top: 15px;
}

section.team p {
	margin-left: 100px;
}

p#contact {
	margin: 0;
	margin-top: 30px;
	font-size: 1.5em;
}

p#contact a {
	color: #000;
	font-weight: normal;
	text-decoration: underline
}


footer {
	background-color: #f5f5f5;
	margin: 0;
	margin-top: -30px;
	min-height: 60px;
	font-size: 14px;
	color: #666;
}

footer p {
	margin-top: 20px;
}

footer p em {
	float: right;
}